.App {
  text-align: center;
}

.board {
  margin: 30px auto;
  width: 360px;
}

.row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  line-height: 30px;
  background-color: darkgreen;
  font-size: 24px;
}

.put-square {
  width: 60px;
  height: 60px;
  line-height: 30px;
  background-color: green;
  font-size: 24px;
}
