.App {
  text-align: center;
}

.board {
  margin: 30px auto;
  width: 360px;
}

.row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  line-height: 30px;
  background-color: darkgreen;
}

.put-square {
  width: 60px;
  height: 60px;
  line-height: 30px;
  background-color: green;
}

.player {
  background-color: black;
  width: 100%;
  height: 80%;
  border-radius: 50%;
}

.opponent {
  background-color: white;
  width: 100%;
  height: 80%;
  border-radius: 50%;
}
